.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: mediumturquoise;
    font-family: Georgia, sans-serif;
    position: relative;
}

.timeString {
    display: inline-block;
    height: 70px;
    position: relative;
    letter-spacing: .05em;
    font-size: 50px;
    cursor: pointer;
    text-shadow: 1px 1px mediumturquoise,
    -1px 1px mediumturquoise,
    -1px -1px mediumturquoise,
    1px -1px mediumturquoise;
    color: white;
    transition: all 1s;
    margin-bottom: 5px;
}

.timeString:before {
    content: "";
    position: absolute;
    top: 10px;
    right: -15px;
    bottom: -15px;
    left: 0;
    z-index: -1;
    background: linear-gradient(-45deg,
    rgba(72, 209, 204, 0) 2px,
    mediumturquoise 3px,
    rgba(72, 209, 204, 0) 3px) repeat;
    background-size: 4px 4px;
}

.timeString:after {
    content: attr(data-name);
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: -2;
    text-shadow: 1px 1px white,
    2px 2px white,
    3px 3px white,
    4px 4px white;
    color: white;
    transition: all 1s;
}

.timeString:hover {
    color: lemonchiffon;
}

.timeString:hover:before {
    animation: 5s move_lines infinite linear;
}

.timeString:hover:after {
    color: lemonchiffon;
    text-shadow: 1px 1px lemonchiffon,
    2px 2px lemonchiffon,
    3px 3px lemonchiffon,
    4px 4px lemonchiffon;
}

@keyframes move_lines {
    100% {
        background-position: 40px 40px;
    }
}

.btnBar {
    margin-top: 5px;
}

.dateShow {
    position: absolute;
    bottom: 35px;
    font-size: 20px;
}