.container {
    display: grid;
    max-width: 500px;
    grid-template-rows: 26px 26px;
    grid-template-columns: 30% 10% 10%;
    grid-gap: 10px;
}

.inputDecoration {
    height: 20px;
    border: 2px solid #0e8002;
    border-radius: 5px;
    width: calc(100% - 10px);
}

.error {
    height: 20px;
    margin-right: 10px;
    border: 2px solid #f00;
    border-radius: 5px;
}

.error:focus {
    border: 2px solid #0e8002;
    border-radius: 5px;
}

.error:active {
    border: 2px solid #0e8002;
    border-radius: 5px;
}

.errorMessage {
    height: 25px;
    color: #f00;
}


.container button {
    height: 26px;
}
